@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

@font-face {
    font-family: 'Pokemon';
    src: url(../fonte/dogica.otf);
}

body {
    background-image: url(../imagens/fundo01.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
h1 {
    font-family: 'Pokemon';
    padding: 10px;
    text-align: center;
    margin: auto;
    font-size: 1em;
}
img{
    width: 100%;
    border-radius: 20px;
}
main{
    padding: 10px;
    margin: auto;
    width: 450px;
    background-color: rgba(255, 255, 255, 0.189);
    box-shadow: 2px 2px 6px rgba(128, 128, 128, 0.331);
    border-radius: 8px;
}
table{
    margin: auto;
}
th{
    font-family: 'Pokemon';
    font-size: 0.7em;
    padding: 10px 10px 10px 0px;
}
td{
    font-size: 1em;
    padding: 10px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.907);
    box-shadow: inset 2px 2px 3px rgba(128, 128, 128, 0.427);
}
section{
    margin: auto;
    text-align: center;
}
footer{
    text-align: center;
    padding: 20px;
    
}
footer > a{
    font-family: 'Pokemon';
    text-decoration: none;
    color: black;
}
footer > a:hover{
    text-decoration: underline;
    color: darkblue;
}


@media screen and (min-width: 750px){
   
    main{
        width: 750px;
        margin-top: 5%;
        transform: translate(-50,-50);
    }
    
}